.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 1200px;
  margin: 5% auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: 100%;
}

.hero-text h1,
.hero-text p {
  margin-bottom: 20px;
}

.hero-text h1 {
  font-size: 36px;
}

.hero-text p {
  font-size: 18px;
}

.buttons {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.primary-btn,
.secondary-btn {
  padding: 15px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.primary-btn {
  background-color: #246bfd;
  color: #fff;
}

.primary-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.secondary-btn {
  background-color: #ffffff;
  color: #246bfd;
  border: 2px solid #246bfd;
}

.secondary-btn:hover {
  background-color: #efefef;
  transform: scale(1.05);
  border: 3px solid #0056b3;
}

.hero-image {
  flex: 1;
  max-width: 100%;
  height: auto;
  width: 150px;
}

.container.light .hero {
  background-color: #fff;
}

.container.dark .hero {
  background-color: #333;
}

.container.light .hero-text,
.container.dark .hero-text {
  color: inherit;
}

.slider {
  list-style-type: none;
  padding: 0;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  height: 500px;
}

.slider-light .item {
  border: 1px solid #ccc;
}

.slider-dark .item {
  border: 1px solid #555;
}

.slider .item {
  flex: 1 1 25%;
  height: 100%;
  background: no-repeat center/cover;
  text-align: center;
  transition: 0.5s;
  margin: 10px 20px; /* Применяется только к li внутри .slider */
}

.slider .item:hover {
  flex-basis: 75%;
}

.slider .item span {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 6px 12px;
  margin-top: 10%;
}

/* Убедитесь, что правило ul li не глобальное */
ul li {
  margin: 0; /* Убираем глобальное влияние */
}

@media (max-width: 640px) {
  .slider {
    flex-direction: column;
    max-width: 100%;
  }
  .slider .item {
    width: 100%;
  }
  .slider .item:hover {
    flex-grow: 40%;
  }
  .slider .item span {
    font-size: 1.3em;
  }
}

.home-container {
  padding: 20px;
  animation: fadeIn 0.5s ease-in-out;
}

.home-header {
  text-align: center;
  margin-bottom: 20px;
  animation: slideInDown 0.5s ease-in-out;
}

.home-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.home-subtitle {
  font-size: 18px;
  color: #757575;
}

.home-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  animation: fadeInUp 0.5s ease-in-out;
}

.home-card {
  width: 200px;
  height: 150px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
