.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.login-container.text-light {
  background-color: #fff;
  color: #000;
}

.login-container.text-dark {
  background-color: #333;
  color: #fff;
}

.login-container.text-dark input {
  background-color: #444;
  color: #fff;
  border: 1px solid #555;
}

.login-container.text-dark input:focus {
  border-color: #246bfd;
}

.login-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Высота страницы */
}

.login-content {
  flex: 1; /* Занимает всё доступное пространство */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  border-color: #246bfd;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color: #246bfd;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0056b3;
}

.register-link {
  text-align: center;
  margin-top: 15px;
}

.register-link a {
  color: #246bfd;
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}
